<%- include("partials/header"); -%>

    <h1 class="page-heading">Sorry</h1>
    <p class="page-text">The page you are looking for was either not found or does not exist. You can go back to Home page by clicking <a href="/">here.</p>


<%- include("partials/footer"); -%>