<%- include("partials/header"); -%>

    <div id="thankyou" style="margin-top: 20px; background-color: #c5c5c5;">
        <h1  class="post-meet" style="font-size: 0.8rem;  font-weight: 400; color: #626262; padding: 10px; margin-top: 5px; margin-left: 10px;">
        Thank You! You will recieve an Email with meeting link and password on the day of meeting.
        </h1>
      </div>

    <%- include("partials/footer"); -%>